.comments {
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    @media (min-width: 55rem) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.7rem;
    }
    @media (min-width: 70rem) {
      grid-template-columns: repeat(3, 1fr);
      gap: 0.5rem;
    }
  }
  &__line {
    width: 80%;
    height: 2px;
    background-color: $grayisBlue;
    border-radius: 2px;
    margin-bottom: 2.25rem;
  }
}
