.posts {
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-content: center;
    @media (min-width: 43.125rem) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.3rem;
    }
    @media (min-width: 70rem) {
      grid-template-columns: repeat(3, 1fr);
      gap: 0.7rem;
    }
  }
}
