//Colors
$dark: hsl(233, 71%, 10%);
$navbarColor: #58c7fb;
$primaryColor: #18a7ea;
$grayisBlue: hsl(233, 4%, 54%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
//Font size
$font-small: 0.9rem;
$font-med: 1rem;
$font-lg: 1.25rem;
